<div class="container">
	<div class="row">
		<h3>Please Login Admin</h3>
		<form role="form">
			<div class="form-group">
				<label for="inputUsernameEmail">Username or email</label>
				<input type="text" class="form-control" id="inputUsernameEmail">
			</div>
			<div class="form-group">
				<a class="pull-right" href="#">Forgot password?</a>
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword">
			</div>
			<div class="checkbox pull-right">
				<label>
					<input type="checkbox">
					Remember me
				</label>
			</div>
			<button type="submit" class="btn btn btn-primary">
				Log In
			</button>
		</form>
	</div>
</div>