<!-- Full Width Image Header -->
    <header class="header-image" ng-controller="homeCtrl">
        <div class="headline">
            <div class="container">
                <h1>{{header}}</h1>
                <h2>{{subheading}}</h2>
            </div>
        </div>
    </header>
    <hr>
    <!-- Page Content -->
    <div class="container" ng-controller="homeCtrl" >

        <div ng-repeat="value in dataset">
            <!-- First Featurette -->
            <div class="featurette" id="about">
                <img class="featurette-image img-circle img-responsive" ng-class-odd="'pull-right'" ng-class-even="'pull-left'" ng-src="{{value.imgUrl}}">
                <h2 class="featurette-heading">{{value.heading}}
                    <span class="text-muted">{{value.subheading}}</span>
                </h2>
                <p class="lead">{{value.text}}</p>
            </div>
        <hr class="featurette-divider">
        </div>
    </div>